# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Data, models, logs, secrets
logs/
# data/
models/trained/
api_key.txt

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Test outputs
.pytest_cache/
coverage.xml
htmlcov/

# Ignore environment variable files
.env